<div class="index-container">
    
    <img src="/images/beer.png" width="300" height="300">
    
    <div id = "firstbutton" class = "button">
        <a href="/beers">Check the Beers! </a>
    </div>
    
    <div id = "secondbutton" class = "button">
        <a href="/random-beer">Check a Random Beer</a>
    </div>

</div>